name: Basic ShopSmart CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  client-build:
    name: Client Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm i

      - name: Build
        run: npm run build

  client-test:
    name: Client Unit Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm i

      - name: Run tests
        run: npm test

  server-build:
    name: Server Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm i

      - name: Build
        run: npm run build

  server-test:
    name: Server Unit Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm i

      - name: Run tests
        run: npm test
